<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout1"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.8/css/bootstrap.min.css">
</head>
<body>
 <div class="p-3" layout:fragment="content">
     <div class="w-50">
         <form class="d-flex" th:action="@{/(name=${name})}" method="get">
             <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name">
             <button class="btn btn-outline-success" type="submit">Search</button>
         </form>
     </div>
   <table class="table">
       <thead>
       <tr>
           <th>ID</th>
           <th>Name</th>
           <th>Price</th>
           <th>Quantity</th>
           <th sec:authorize="hasRole('ADMIN')">Actions</th>
       </tr>
       </thead>
       <tbody>
       <tr th:each="p:${productPage.content}">
           <td th:text="${p.id}"></td>
           <td th:text="${p.name}"></td>
           <td th:text="${p.price}"></td>
           <td th:text="${p.quantity}"></td>
           <td sec:authorize="hasRole('ADMIN')">
               <a class="btn btn-danger" th:href="@{/delete(id=${p.id})}" >Delete</a>
               <a class="btn btn-info" th:href="@{/update(id=${p.id})}">update</a>
           </td>
       </tr>
       </tbody>
   </table>

     <div>
         <nav aria-label="...">
             <ul class="pagination pagination-sm">
                 <li     class="border-1 rounded p-1 text-info border-info m-0"
                         th:classappend="${i  == productPage.pageable.pageNumber} ?  'active' : ''"   th:each="i : ${#numbers.sequence(0, productPage.totalPages > 0 ? productPage.totalPages - 1 : 0)}">
                     <a  class="page-link" aria-current="page" th:text="${i}" th:href="@{/(page=${i})}"></a>
                 </li>

             </ul>
         </nav>
     </div>
 </div>

</body>
</html>